<!DOCTYPE html>

<html lang="zh-CN">
{% load static  %}
{% load bootstrap3 %}
{% bootstrap_css %}
<script type="text/javascript" src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_messages %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top"  role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'user_detail' %}">
                    遥感数据特征提取关联系统
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class=""><a href="">管理数据</a></li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="drop-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{user.username}}
                                <span class="caret">
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user_info' %}">个人信息</a></li>
                                <li><a href="">Another</a></li>
                                <li><a href="">Something else here</a></li>
                                <li role="separator" class="divider"><a href=""></a></li>
                                <li><a href="{% url 'logout' %}">登出</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>